@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
body{
    display: flex;
    justify-content: center;
    font-family: 'Space Mono', monospace;
    background-color: hsl(185, 41%, 84%);   
}
/*.container1{
    display: flex;
    justify-content: center;
}*/
.container1 .title{
    margin: 3rem 0;
    
    font-size: 1.5rem;
}

.container1 .title header{
    text-align: center;
    letter-spacing: 0.5rem;
    font-weight: 700;
    color: hsl(186, 14%, 43%);
    
}
.input-section{
    /*border: 2px solid black;*/
    width: 25rem;
    background-color: hsl(0, 0%, 100%);
}
.input-content{
    margin: 1rem 0rem;
}
.tip-section{
    display: flex;
    justify-content: center;
    background-color:white;
    align-items: center;
    min-height: 22.5rem;
    height: 28rem;
    min-width: 45rem;
    width: 55rem;
    border-radius: 25px;
}
.bill-input{
    display: flex;
    justify-content: space-between;
    margin: 0rem 1rem;
    background-color: hsl(189, 41%, 97%);
    border-radius: 5px;
}
.bill-input:hover{
    border: hsl(172, 67%, 45%) 3.5px solid;
    cursor: pointer;
}
.tip-section input[type="text"]{
    text-align: right;
    border: hsl(189, 41%, 97%) 2px solid;
    font-size: 1.25rem;
    width: 15rem;
    height: 1.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.25rem;
    color: hsl(183, 100%, 15%);
    font-weight:700;
    font-family: 'Space Mono', monospace;
    background-color: hsl(189, 41%, 97%);
}
input[type="text"]:hover{
    cursor: pointer;
}
.tip-section input[type="text"]::shadow{
    border: hsl(189, 41%, 97%) 2px solid;
}
.tip-section .bill-input img{
    height: 1.25rem;
    margin: 0.25rem 0.25rem;
}
.tip-section .bill-input{
    border: hsl(189, 41%, 97%)olid black;
    
}
.input-section h3{
    margin-left: 1rem;
    color:hsl(186, 14%, 43%)
}
.percentage-section{
    display: flex;
    flex-wrap: wrap;
}
.buttons{
    margin: 0 1rem;
}
.percentage-section button{
    width: 6.25rem;
    font-size: 1rem;
    padding: 0.25rem 0;
    margin: 0.5rem 0.125rem ;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
    color: hsl(189, 41%, 97%);
    background-color:hsl(183, 100%, 15%);
    border: hsl(183, 100%, 15%) 2px solid;
    border-radius: 5px;
}
.percentage-section button:hover{
    background-color: hsl(185, 41%, 84%);
    border: hsl(185, 41%, 84%) 3px solid;
    color: hsl(183, 100%, 15%);
    cursor: pointer;
}
.percentage-section input[type="text"]{
    text-align: right;
    width: 4.5rem;
    font-size: 1.25rem;
    margin: 0.5rem 0.75rem;
    font-family: monospace;
}
.percentage-section input[type="text"]:hover{
    border: hsl(172, 67%, 45%) 3px solid;

}
/*Output styling here*/
.output-section{
    width: 25rem;
    /*border: black 2px solid;*/
    background-color: hsl(183, 100%, 15%);
    min-height: 23.5rem;
    border-radius: 25px;
    }
 .container{
     margin: 1rem 1rem;
      }
.tip-amount{
    display: flex;
    justify-content: space-between;
    color: hsl(189, 41%, 97%);
}
.total{
    color: hsl(172, 67%, 45%);
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 1.6rem;
}
.total img{
    margin: 1rem 0;
    color:hsl(172, 67%, 45%);
}
.tip-amount p{
    opacity:0.6;
}
.total span{
    font-size: 2rem;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}
.intiators{
 margin-top: 4rem;
}

.result , .reset{
    font-family: 'Space Mono', monospace;
    margin: 0.5rem 0;
    text-align: center;
    width: 100%;
    color: hsl(183, 100%, 15%);
    border: 2px solid hsl(172, 67%, 45%);
    background-color: hsl(172, 67%, 45%);
    font-size: 1rem;
    height: 1.75rem;
    font-weight: 700;
    border-radius: 10px;
}
.result:hover {
    cursor: pointer;
    background-color: hsl(185, 41%, 84%);
    border: 2px solid hsl(185, 41%, 84%);
}
.result:hover{
    cursor: pointer;
    background-color: hsl(185, 41%, 84%);
    border: 2px solid hsl(185, 41%, 84%);
}

.inactive{
    opacity: 0.4 ;
    cursor: unset;
}
.attribution{
    text-align: center;
    margin: 1rem 0;
}
/*Responsive styling start*/
@media(max-width:450px){
    html, body {
        position:fixed;
        top:0;
        bottom:0;
        left:0;
        right:0;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .container1{
        margin-left: -0.125rem;
    }
    body{
        display: block;
        float: none;
        width: 100%;
    }
    
    .tip-section{
        display: block;
        float: none;
        background-color:hsl(185, 41%, 84%);
        min-height:none;
        height:auto;
        min-width: none;
        width: 10%;
        border-radius: 25px;
    
    }
    .input-section , .output-section{
        display: block;
        float: none;
        width: 50%;
        min-width: none;
        min-height: none;
        height: auto;
        
    }
    .input-section{
        border-radius: 25px;
        border:2px solid hsl(0, 0%, 100%);
    }
    .input-content{
        margin: 0.5rem 0.5rem;
        border:2px solid hsl(0, 0%, 100%);
    }
    
    .tip-sectioninput[type="text"]{
        width: 100%;
    }
    .percentage-section button {
        width: 9rem;
    }
    .percentage-section input[type="text"]{
        text-align: right;
        width: 7.0125rem;
        font-size: 1.25rem;
        margin: 0.5rem 0.75rem;
        font-family: monospace;
    }
}
